<!DOCTYPE html>
<html lang="ja">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <link rel="stylesheet" href="../../static/css/sante.css">
</head>
<body>



<!-- tinder div -->
<div id="container">

    <!--　一枚目　-->
    <div class="buddy" style="display: block;">
        <div class ="card" style="display: block;">
            <!--表-->
            <div id="card-front">
                <div class="avatar" style="display: block; background-image: url(../../static/img/megchan.jpg)">

                </div>
            </div>
            <!--裏-->
            <div id="card-back">
                Meg-chan is
            </div>
        </div>
        <!--btn-->
        <div class="button">
            <img src="../../static/img/info.jpg" height="50" width="50"/>
        </div>
    </div>

<!--　　二枚目 -->
    <div class="buddy">
        <!--card-->
        <div class="card">
            <!--表-->
            <div id="card-front">
                <div class="avatar" style="display: block; background-image: url(../../static/img/megchan2.jpg)">

                </div>
            </div>
            <!--裏-->
            <div id="card-back">
                cute
            </div>
        </div>
        <!--btn-->
        <div class="button">
            <img src="../../static/img/info.jpg" height="50" width="50"/>
        </div>
    </div>



    <!--<div class="buddy"><div class="avatar" style="display: block; background-image: url(../../static/img/megchan3.jpg)"></div></div>-->
    <!--<div class="buddy"><div class="avatar" style="display: block; background-image: url(../../static/img/megchan4.jpg)"></div></div>-->
    <!--<div class="buddy"><div class="avatar" style="display: block; background-image: url(../../static/img/megchan5.jpg)"></div></div>-->
</div>

<!--  flip div -->
<!--<div>-->
    <!--<div id="card">-->
        <!--<div id="card-front">-->
            <!--<img src="../../static/img/megchan2.jpg" height="500"-->
                 <!--width="390"/>-->
        <!--</div>-->
        <!--<div id="card-back">uramen</div>-->
    <!--</div>-->
    <!--<div id="button">-->
        <!--<img src="../../static/img/info.jpg" height="50" width="50"/>-->
    <!--</div>-->
<!--</div>-->


<!-- TODO LIST  -->
<!--



-->


<script>
    $(document).ready(function(){

        $(".buddy").on("swiperight",function(){
            $(this).addClass('rotate-left').delay(700).fadeOut(1);
            $('.buddy').find('.status').remove();

            $(this).append('<div class="status like">Like!</div>');
            if ( $(this).is(':last-child') ) {
                $('.buddy:nth-child(1)').removeClass ('rotate-left rotate-right').fadeIn(300);
            } else {
                $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
            }
        });

        $(".buddy").on("swipeleft",function(){
            $(this).addClass('rotate-right').delay(700).fadeOut(1);
            $('.buddy').find('.status').remove();
            $(this).append('<div class="status dislike">Dislike!</div>');

            if ( $(this).is(':last-child') ) {
                $('.buddy:nth-child(1)').removeClass ('rotate-left rotate-right').fadeIn(300);
                alert('OUPS');
            } else {
                $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
            }
        });

    });
</script>

<!--  flip js    -->
<script>
    (function() {
        'use strict';
        // buttonidを引っ張ってきて、クリックするとturnoverファンクションをする。
        var button = document.getElementsByClassName('button');

        for (var i = 0; i < button.length; i ++) {
            button[i].addEventListener('click', function() {
                turnover();
            }, false);
        }

        <!--　turnoverファンクションはカードをめくるファンクションだからこのままでいい。-->
        function turnover() {
            $('.card').toggleClass("mekuru");
        }
    })();
</script>




</body>

</html>